.mt10{
  margin-top: 10px;
}

.mt20{
  margin-top: 20px;
}

.mb10{
  margin-bottom: 10px;
}

.mb20{
  margin-bottom: 20px;
}

#login-box { 
    position: absolute; 
    border: 1px solid #ccc;
    width: 180px; 
    text-align: center;
    padding-top: 5px;
    display: none;
}

#login-box input { 
    border: 1px solid #000; 
    margin: 0 0 5px 0; 
    width: 160px;
    height: 22px;
}