</div>
</div>

</div>

</div>

</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success(pos) {
        var crd = pos.coords;

        console.log('Your current position is:');
        console.log('Latitude : ' + crd.latitude);
        console.log('Longitude: ' + crd.longitude);
        console.log('More or less ' + crd.accuracy + ' meters.');

        $.ajax({
            type: "POST",
            url: "Location/findlocationidbycoordinates/lat:" + crd.latitude + ",long:" + crd.longitude,
            success: function(data) {
          //      alert(data);
                var location = JSON.parse(data);
                var locationID;
                var locationName;
                location.forEach(function(locationItem){
                   locationID = locationItem['id'];
                  locationName = locationItem['name'];
                });
                $.ajax({
                    type:"POST",
                    url:"MusicEvents/getEventsByLocation/location:Aberystwyth,genre:rock",
                    success:function(data){
                        var music = JSON.parse(data);
                        console.log(music);
                        music.forEach(function(musicItem){
                            console.log(musicItem['title']);
                            console.log(musicItem['img']);
                        });
                    }
                });
               $.ajax({
                   type:"POST",
                   url:"Weather/threeHours/id:"+locationID,
                   success:function(data){
                       
                       var weather = JSON.parse(data);
                       weather.forEach(function(weatherItem){
                         // console.log(weatherItem['time']);
                         // weatherItem['type'];
                         // weatherItem['temp']
                         // weatherItem['windSpeed']
                         // weatherItem['visibility']
                       });
                   }
               });
            }

        });
    }
    ;

    function error(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);
    };

    navigator.geolocation.getCurrentPosition(success, error, options)
</script>