{% include 'header.html.twig' %}
<div class="container" id="top-boxes">
    <div id="weather-box">
        <div class="weather-left">
            <img src="" class="weather-icon">
            <img src="" class="wind-icon">
        </div>
        <div class="weather-right">
            <p class="weather-hour-location"><b>12:00</b>, <b>TwojaStaraTown</b></p>
            <p class="weather-temperature">16&deg;C</p>
            <p class="weather-wind-speed">Speed: <b>145.6 mph</b></p>
            <p class="weather-visibility">Visibility: <b>foggy as fuck m8</b></p>
        </div>
    </div>
    <div id="events-box">
        <span class="event-title"></span>
        <span class="event-image"></span>
    </div>
</div>
{% include 'footer.html.twig' %}