{% if loginerror is defined %} 
    {{ loginerror   }}asd
{% endif %}{{ loginerror   }} {{ x }}
<form method="post" action="{{ siteUrl('/user/login') }}">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="login">
</form>