{% include 'header.html.twig' %}
<div class="container" id="top-boxes">
    <div id="left-boxs">
    <div id="weather-box">
        <div class="weather-left">
            <img id="weatherIcon" src="" class="weather-icon">
            <img id="windIcon" src="" class="weather-icon">
        </div>
        <div class="weather-right">
            <p id="hour" class="weather-hour-location"></p>
            <p id="temp" class="weather-temperature"></p>

        </div>
        <div style=" display:inline-block; width: 120px; float: right;">
            <p id="windSpeed" class="weather-wind-speed"></p>
            <p id="visibility" class="weather-visibility"></p>
        </div>
    </div>
        
     <div id="events-box">
        {# <span id="eventTitle" class="event-title"></span>
         <img src="" id="eventImage">#}
    </div>
    </div>

       <div style="width:53.5%; height:250px">
           <a class="twitter-timeline" href="https://twitter.com/hashtag/bbcnews" data-widget-id="578919113327775744">#bbcnews Tweets</a>
    <script>!function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");</script>
    
       </div>
 
</div>

  <div id="page" class="configurable index " data-story-id="front_page">
    <div class="container" role="main">

        <h1 class="index-title index-title--redundant index-title--front-page" id="comp-index-title" data-index-title-meta="{&quot;id&quot;:&quot;comp-index-title&quot;,&quot;type&quot;:&quot;index-title&quot;,&quot;handler&quot;:&quot;indexTitle&quot;,&quot;deviceGroups&quot;:null,&quot;opts&quot;:{&quot;alwaysVisible&quot;:false,&quot;onFrontPage&quot;:true},&quot;template&quot;:&quot;index-title&quot;}">BBC News Home</h1>

        <div class="container--primary-and-secondary-columns column-clearfix">
        </div>

      <div class="column--single-bottom mt20">

        {% include 'skylark.html.twig' with {'data' : news_data[0]} %}

        <div id="comp-digest-2" class="distinct-component-group ">
          <div class="pukeko pukeko--8">

          {% for i in 1..news_data|length-1 %}

            {% include 'pukeko.html.twig' with {'data' : news_data[i]} %}

          {% endfor %}

          </div>

        </div>
      </div>


{% include 'footer.html.twig' %}
